:root {
  /* Colors */
  --Gold-500: hsl(31, 77%, 52%);
  --Cyan-800: hsl(184, 100%, 22%);
  --Green-950: hsl(179, 100%, 13%);
  --White: hsl(0, 0%, 95%);
  --Transparent-White: hsla(0, 0%, 100%, 0.75);

  --space-0: 0px;
  --space-8: 8px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-80: 80px;
  --space-15: 15px;
}

.text-preset-1 {
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 700;
  font-size: var(--space-40);
  line-height: 120%;
  color: var(--White);
  margin: var(--space-32) 0;
}

.text-preset-2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: var(--space-15);
  line-height: 165%;
  color: var(--Transparent-White);
  margin-bottom: var(--space-80);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.card-container {
  display: flex;

  border-radius: var(--space-8);
  overflow: hidden;
}

.card {
  width: 300px;
  padding: var(--space-48);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sedan {
  background-color: var(--Gold-500);
}
.suv {
  background-color: var(--Cyan-800);
}
.luxury {
  background-color: var(--Green-950);
}

.btn {
  background-color: var(--White);
  border: none;
  padding: 12px 25px;
  border-radius: 25px;

  font-family: "Lexend Deca", sans-serif;
}

.sedan .btn {
  color: var(--Gold-500);
}
.suv .btn {
  color: var(--Cyan-800);
}
.luxury .btn {
  color: var(--Green-950);
}
